

button{
    padding:2px; 
    border-radius: 10px;
    color: black;
    background-color: white;
    font-size:5px;
    border:solid, 2px, red;
    cursor:pointer;
    margin:5px;

 }

 .CButton
 {
   text-align: center;
 }

 .GenderTXT{
    text-align: center;
    font-family: "Helvetica";
    color: white;
 }
