button{
   padding:30px 150px 30px 150px; 
   border-radius: 2px;
   color: black;
   background-color: white;
   font-size:60px;
   border:solid 10px gray;
   cursor:pointer;
   margin:50px;
   font-family: 'Roboto';

}
 
.CButton
{
  text-align: center;
     
}

.title{
   background-color: black;
   padding: 20px;
}

#GenderTXT{
   text-align: center;
   font-family: 'Roboto';
   color: white;
   font-size: 50px;
    padding:1px; 
    margin: 1px 5px 100px 5px ;
   
}
   
